scrape_configs:
  - job_name: jru_lesson20
    metrics_path: /actuator/prometheus
    static_configs:
      - targets: ["host.docker.internal:8080"]
        labels:
          application: lesson20
    oauth2:
      client_id: "victoria-metrics"
      client_secret: "r8ySCnpwUR80YvAtk2jKcOfoRe7iCjpW"
      token_url: "http://host.docker.internal:8443/realms/jru/protocol/openid-connect/token"
      scopes:
        - "metrics"
      endpoint_params:
        grant_type: "client_credentials"